# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [2]:
class Animal:
    def __init__(self, name, species, breeds=""):
        self.name = name
        self.species = species
        self.breeds = breeds

    def make_breed(self):
        if self.breeds:
            print(f"I am {self.name} and my breed is {self.breeds}!")
        else:
            print(f"I'm {self.name} and i'm breedless.")

    def introduce(self):
        print(f"Howdy! I'm {self.name}, my breed is {self.species}.")
my_pet = Animal("Lee", "scottish fold", "scottish fold")
my_pet.make_breed()
my_pet.introduce()

I am Lee and my breed is scottish fold!
Howdy! I'm Lee, my breed is scottish fold.

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [3]:
class Animal:
    def __init__(self, name, species, breeds=""):
        self.name = name
        self.species = species
        self.breeds = breeds

    def make_breed(self):
        if self.breeds:
            print(f"I am {self.name} and my breed is {self.breeds}!")
        else:
            print(f"I'm {self.name} and I'm breedless.")

    def introduce(self):
        print(f"Howdy! I'm {self.name}, my breed is {self.species}.")

In [4]:
default_cat = Animal("Molly", "canadian sphinx")

In [5]:
cat1 = Animal("Lee", "scottish fold", "scottish fold")

In [6]:
default_cat.introduce()

Howdy! I'm Max, my breed is mixed breed.

In [7]:
cat1.make_breed()

I am Lee and my breed is scottish fold!

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [9]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self._age = age
        self.__temper = "funny"

    def get_temper(self):
        return self.__temper

    def set_mood(self, temper):
        self.__temper = temper

In [10]:
cat1 = Cat("Tosya", 7)

In [13]:
print("Cat's name:", cat1.name)

Cat's name: Tosya

In [14]:
print("Cat's age:", cat1._age)

Cat's age: 7

In [16]:
print("Cat's temper:", cat1.get_temper())

Cat's temper: funny

In [21]:
print("Cat's temper:", cat1.get_temper())

Cat's temper: funny

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

Self - це параметр, який є посиланням на об'єкт класу, допомагає отримати доступ для його атрибутів.
__init__ - це метод, завдяки якому ми встановлюємо значень для атрибутів об'єкта.

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [23]:
class Figure:
    def get_area(self):
        return 0

    def __add__(self, other):
        if isinstance(other, Figure):
            return self.get_area() + other.get_area()
        else:
            return NotImplemented

In [24]:
if __name__ == "__main__":
    figure1 = Figure()
    figure2 = Figure()
    area1 = figure1.get_area()
    area2 = figure2.get_area()
    total_area = figure1 + figure2

In [30]:
print("Area of figure 1:", area1)

Area of figure 1: 0

In [31]:
print("Area of figure 2:", area2)

Area of figure 2: 0

In [32]:
print("Sum of two areas:", total_area)

Sum of two areas: 0

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [34]:
import math

class Figure:
    def get_area(self):
        return 0

    def __add__(self, other):
        if isinstance(other, Figure):
            return self.get_area() + other.get_area()
        else:
            return NotImplemented

In [35]:
class Triangle(Figure):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def get_area(self):
        return 0.5 * self.base * self.height

class Circle(Figure):
    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius ** 2

In [36]:
triangle = Triangle(11, 4)
circle = Circle(9)

In [40]:
print("Area of triangle:", triangle)

Area of triangle: <__main__.Triangle object at 0x7e706c921960>

In [42]:
print("Area of circle:", circle)

Area of circle: <__main__.Circle object at 0x7e706c922ec0>

In [44]:
print("Sum of areas:", total_area)

Sum of areas: 0

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [46]:
class Owner:
    pass

class Cat(Owner):
    pass

In [47]:
cat_instance = Cat()
print(isinstance(cat_instance, Cat))

True

In [48]:
print(isinstance(cat_instance, Owner))

True

In [49]:
print(issubclass(Cat, Owner))

True

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [51]:
class BankAccount:
    def __init__(self, account_number, initial_balance=0):
        self._account_number = account_number
        self._balance = initial_balance

    @property
    def account_number(self):
        return self._account_number

    @property
    def balance(self):
        return self._balance

    def deposit(self, amount):
        if amount > 0:
            self._balance += amount
            print(f"Deposited ${amount}. Your new balance: ${self._balance}")
        else:
            print("Error: Deposit amount must be positive.")

In [ ]:
def withdraw(self, amount):
        if 0 < amount <= self._balance:
            self._balance -= amount
            print(f"Withdrew ${amount}. Your new balance: ${self._balance}")
        else:
            print("Error: Withdrawal amount must be positive and less/equal to balance.")

In [ ]:
if __name__ == "__main__":
  account = BankAccount("99999999", 1500)

In [ ]:
print("Account Number:", account.account_number)

In [ ]:
print("Current Balance:", account.balance)

In [ ]:
account.deposit(450)

In [ ]:
account.withdraw(6700)

In [ ]:
account.withdraw(678)

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [63]:
library = Library()

In [52]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

In [53]:
class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)
        print(f"Book '{book.title}' by {book.author} has been added to your personal library.")

In [54]:
def remove_book(self, title):
        for book in self.books:
            if book.title == title:
                self.books.remove(book)
                print(f"Book '{title}' has been removed from your personal library.")
                return
        print(f"Book '{title}' not found in your personal library.")

In [55]:
def display_books(self):
        if self.books:
            print("Books in your personal library:")
            for book in self.books:
                print(f"- {book.title} by {book.author}")
        else:
            print("Your personal library is empty.")

In [56]:
if __name__ == "__main__":
    library = Library()

In [57]:
book1 = Book("Cruel Prince", "Holly Black")
book2 = Book("The Lord Of The Rings", "J.R.R. Tolkien")
book3 = Book("Howl`s moving castle", "Neil Gaiman")
book4 = Book("Beren and Luthien","J.R.R. Tolkien")
book5 = Book("The Chronicles of Narnia","C.S.Lewis")

In [58]:
library.add_book(book1)
library.add_book(book2)
library.add_book(book3)
library.add_book(book4)
library.add_book(book5)

Book 'Cruel Prince' by Holly Black has been added to your personal library.
Book 'The Lord Of The Rings' by J.R.R. Tolkien has been added to your personal library.
Book 'Howl`s moving castle' by Neil Gaiman has been added to your personal library.
Book 'Beren and Luthien' by J.R.R. Tolkien has been added to your personal library.
Book 'The Chronicles of Narnia' by C.S.Lewis has been added to your personal library.

In [64]:
library.display_books()

AttributeError: 'Library' object has no attribute 'display_books'

In [65]:
library.remove_book("Beren and Luthien")

AttributeError: 'Library' object has no attribute 'remove_book'

In [62]:
library.display_books()

AttributeError: 'Library' object has no attribute 'display_books'

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [66]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Employee:
    def __init__(self, department, salary):
        self.department = department
        self.salary = salary

class Manager(Person, Employee):
    def __init__(self, name, age, department, salary, title):
        # Виклик конструкторів класів Person та Employee
        Person.__init__(self, name, age)
        Employee.__init__(self, department, salary)
        self.title = title

In [ ]:
manager = Manager(name="Liza Maslovska", age=26, department="Finance", salary=56000, title="Finance Manager")

In [ ]:
print(f"Name: {manager.name}")
print(f"Age: {manager.age}")
print(f"Department: {manager.department}")
print(f"Salary: ${manager.salary}")
print(f"Title: {manager.title}")

In [ ]:
print(f"Name: {manager.name}")
print(f"Age: {manager.age}")
print(f"Department: {manager.department}")
print(f"Salary: ${manager.salary}")
print(f"Title: {manager.title}")

In [70]:
print("Method Resolution Order (MRO) for Manager:", Manager.mro())

Method Resolution Order (MRO) for Manager: [<class '__main__.Manager'>, <class '__main__.Person'>, <class '__main__.Employee'>, <class 'object'>]

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [71]:
my_string = "idle"

In [72]:
my_iterator = iter(my_string)

In [73]:
for _ in range(5):
    try:
        value = next(my_iterator)
        if value:
            print(value)
    except StopIteration:
        print("The end")
        break

i
d
l
e
End of iteration

А що якщо викликати цю ж функцію на рядку?

In [74]:
my_string = "idle"
my_iterator = iter(my_string)

for _ in range(5):
    try:
        value = next(my_iterator)
        if value:
            print(value)
    except StopIteration:
        print("The end")
        break

i
d
l
e
The end

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельні об'єкти - це об'єкти, які можна перебирати по елементах, як-от по списках, а ітератори - це об'єкти, які дозволяють отримувати доступ до елементів ітерабельних об'єктів.

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [75]:
class AlphabetIterator:
    def __init__(self):
        self.current_letter = ord('a')

    def __iter__(self):
        return self

    def __next__(self):
        if self.current_letter <= ord('z'):
            letter = chr(self.current_letter)
            self.current_letter += 1
            return letter
        else:
            raise StopIteration

In [76]:
alphabet_iterator = AlphabetIterator()

In [77]:
for _ in range(26):
    print(next(alphabet_iterator))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.